/*@import "../pma/css/avenir";*/


/* ----++++---- Variables ----++++---- */
$mobile: 400px;
$tablet: 670px;
$desktop: 860px;

$black: #000;
$white: #fff;
$redOrange: #f74b35;
$grey: #373a3c;
$greyTwo: #e9e9e9;
$lightGrey: #f1f1f1;


/*MAIN STYLES */
body {
	box-sizing: border-box;
	font-family: 'AvenirLTPro35Light';
};

div {
  /*outline: 1px solid #f00;*/
};

.clear {
	clear: both;
};

/*MAIN STYLES END*/

/* ----++++---- Landing Page Top Image Component ----++++---- */
.landing-page{

	overflow: hidden;

	&-top {
		height: auto;
		margin-top: 48px 0 0 0;
		padding: 0;
		width: 100%;
	};

	&-img {
		background: url('../pma/img/temp/cars-6.jpg') no-repeat;
		background-position: 0 -150px;
		background-size: cover;
		height: 200px;
		overflow: hidden;
		width: 100%;
	};

	&-overlay {
		background-color: $white;
		background: url('../pma/img/temp/transparent-70.png') no-repeat;
		background-size: cover;
		height: 200px;
		left: 50%;

		position: absolute;
		top: 8px;
		width: 50%;
	};

	&-block {
		display: block;
	};

	&-header {
		color: $black;
		display: block;
		font-size: 35px;
		float: left;
		line-height: 35px;
		position: relative;
		margin: 110px 30px 10px 30px;
		width: 300px;
	};

	&-tablet {
		display: none;
	};

	&-small-captions {
		color: $grey;
		font-size: 12px;
		margin: -15px 30px 10px 30px;
		position: relative;
    	width: 215px;

	};

	@media (min-width: $tablet) {
		&-img {
			background-position: 0 -450px;
		};

		&-block {
			display: none;
		};

		&-tablet {
			display: block;
		};
  	};

  	@media (min-width: $desktop) {
  		&-top {
  			display: block;
  			float: left;
			max-width: $desktop;
			width: 100%
		};

		&-overlay {
			left: 444px;
			position: absolute;
			width: 800px;
		};

  		&-img {
			background-position: 0 -450px;
		};
  	};

};


/* ----++++---- Wall Image Component ----++++---- */
.wall-component{

	overflow: hidden;

	&-header {
		color: $redOrange;
		display: block;
	    float: left;
		font-size: 11px;
		height: 20px;
		line-height: 17px;
		margin: 5px 0 0 10px;
		text-align: left;
		text-transform: uppercase;
	    width: 170px;
	};

	&-sub-title {
		color: $grey;
		font-size: 20px;
		line-height: 23px;
		margin: 0 0 0 10px;
		width: 180px;
	};

	&-text {
		color: #373a3c;
		font-size: 15px;
		left: 11px;
		line-height: 17px;
		position: absolute;
		top: 4px;
		width: auto;
		
	};

	&-info-box {
		background: url('../pma/img/transparent/transparent-70.png') no-repeat;
		display: inline-block;
		height: 150px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	};

	&-top {
		display: inline-block;
		height: auto;
		margin-top: 48px 0 0 0;
		padding: 0px;
		width: 100%;
	};

	&-list {
		display: block;
		float: left;
		padding: 0;
		margin: 0;
		width: 100%;
		height: auto;
	};

	&-list ul {
		list-style: none;
		font-size: 0px;
		margin: 0;
		padding: 0;
	}

	&-list ul li {
		cursor: pointer;
		display: inline-block;
		padding: 10px;
		border: 2px solid $white;
		height: 200px;
		overflow: hidden;
		vertical-align: top;
		width: 50%;
		/**/
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	};

	&-list-object {
		background: url('../pma/img/temp/related-1.jpg') no-repeat;
		background-size: cover;
	};

	&-list-deity {
		background: url('../pma/img/temp/cars-1.jpg') no-repeat;
		background-size: cover;
	};

	&-list-article {
		background: url('../pma/img/temp/related-3.jpg') no-repeat;
		background-size: cover;
	};

	@media (min-width: $tablet) {
		&-list ul li {
			height: 200px;
			width: 33.333%;
	  	};

	};

  	@media (min-width: $desktop) {

  		&-top {
  			display: block;
  			float: left;
			max-width: $desktop;
			width: 100%
		};

		&-list {
			display: block;
			float: right;
  			margin: 0 auto;
			position: relative;
			width: 100%;
		};

  		&-list ul li {
			height: 200px;
			width: 33.333%;
	  	};
  	};

};


/* ----++++---- Curated Veiw / Carousel Component ----++++---- */
.carousel-component {

	overflow: hidden;

	&-header {
		color: $redOrange;
		display: block;
	    float: left;
		font-size: 11px;
		height: 20px;
		line-height: 17px;
		margin: 5px 0 0 10px;
		text-align: left;
		text-transform: uppercase;
	    width: 170px;
	};

	&-sub-title {
		color: $grey;
		display: inline-block;
		font-size: 30px;
		line-height: 23px;
		padding: 0 0 20px 0;
		position: relative;
		width: 220px;
	};

	&-text {
		color: #373a3c;
		display: inline-block;
		font-size: 13px;
		height: auto;
		line-height: 17px;
		position: relative;
		width: 100%;		
	};

	&-top {
		display: inline-block;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
	};

	&-block {
		display: inline-block;
		height: auto;
		margin: 0 0 30px 0;
		padding: 0;
		width: 100%;
	};

	&-list {
		display: block;
		float: left;
		height: auto;
		margin: 0;
		overflow: hidden;
		padding: 0;
		width: 100%;
	};

	&-list ul {
		left: 0;
		list-style: none;
		margin: 0;
		padding: 0;	
		position:relative;
		top: 0;
		width: 9999px;
	}

	&-list li {
		display: block;
		float:left;
		height:250px;
		margin: 0 10px 0 0;	
		width:250px;

		vertical-align: top;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	};

	&-arrow-container {
		background-color: $white;
		border-bottom: 1px solid $grey;
		display: block;
		float: left;
		height: 60px;
		padding-bottom: 20px;
		width: 100%;
	};

	&-arrow-block {
		display: inline-block;
		height: 24px;
		margin: 20px 0 0 0;
		width: 49%;
	};

	&-arrow-left {
		background: url('../pma/img/temp/arrowLeft.png') no-repeat;
		background-size: cover;
		cursor: pointer;
		display: inline-block;
		height: 24px;
		margin: 0 0 0 68%;
		width: 8px;
	};

	&-arrow-right {
		background: url('../pma/img/temp/arrowRight.png') no-repeat;
		background-size: cover;
		cursor: pointer;
		display: inline-block;
		height: 24px;
		margin: 0 0 0 28%;
		width: 8px;
	};

	&-list-object {
		background: url('../pma/img/temp/related-1.jpg') no-repeat;
		background-size: cover;
	};

	&-list-deity {
		background: url('../pma/img/temp/cars-1.jpg') no-repeat;
		background-size: cover;
	};

	&-list-article {
		background: url('../pma/img/temp/related-3.jpg') no-repeat;
		background-size: cover;
	};

	&-hide {
		display: none;
	};

	&-object-image {
		cursor: pointer;
	}

	@media (min-width: $tablet) {

	  	&-arrow-container {
	  		display: none;
	  	};

	  	&-hide {
			display: block
		};
	};

  	@media (min-width: $desktop) {

  		&-top {
  			display: block;
  			float: left;
			max-width: $desktop;
			width: 100%
		};

		&-block {
			margin: 0 0 10px 0 ;
		};

		&-text {
			margin: 0 0 -21px 0;
			padding: 0;
		};

		&-list {
			display: block;
			float: right;
  			margin: 0 auto;
			position: relative;
			width: 100%;
		};

		&-list ul {
			left: 0;
			list-style: none;
			font-size: 0px;
			height: 292px;
			margin: 40px 0 0 0;
			overflow: hidden;
			padding: 0;
			width: 100%;
		};

  		&-list ul li {
			cursor: pointer;
			display: inline-block;
			padding: 10px;
			border: 2px solid $white;
			height: 290px;
			overflow: hidden;
			margin: 0;
			vertical-align: top;
			width: 33.333%;
			/**/
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
	  	};

	  	&-arrow-container {
	  		display: none;
	  	};

	  	&-hide {
			display: block;
		};
  	};

};


/* ----++++---- Tombstone Footer Component ----++++---- */
.tombstone-footer-component {

	overflow: hidden;

	&-header {
		color: $black;
		display: block;
	    float: left;
		font-size: 30px;
		height: auto;
		line-height: 35px;
		margin: 0;
		text-align: left;
	    width: auto;
	};

	&-sub-title {
		color: $grey;
		display: inline-block;
		font-size: 16px;
		line-height: 16px;
		margin: 0;
		position: relative;
		width: auto;
	};

	&-text-box {
		color: $grey;
		display: inline-block;
		font-size: 13px;
		height: auto;
		line-height: 17px;
		margin: 20px 0 0 20px;
	    position: absolute;
	    width: 66%;		
	};

	&-text {
		margin: 0;		
	};

	&-top {
		display: inline-block;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
	};

	&-block {
		display: inline-block;
		height: auto;
		margin: 0 0 15px 0;
		padding: 0;
		width: 100%;
	};

	&-box {
		border: 1px solid $greyTwo;
		margin: 0 0 30px 0;
		padding: 10px;
	};

	&-container {
		background-color: $white;
		display: block;
		float: left;
		height: 60px;
		padding-bottom: 20px;
		width: 100%;
	};

	&-image {
		background: url('../pma/img/temp/temp_8.jpg') no-repeat;
		background-size: cover;
		border: 4px solid $white;
		display: inline-block;
		height: 65px;
		padding: 0;
		width: 65px;
	};

	&-left-30{
		margin-left: 0;
	};

	@media (min-width: $tablet) {
		&-box {
			display: block;
  			float: left;
			width: 43%;
		};

		&-left-30 {
			margin-left: 30px;
		};
	};

  	@media (min-width: $desktop) {

  		&-header {
			font-size: 36px;
			line-height: 40px;
		    width: auto;
		};

  		&-top {
  			display: block;
  			float: left;
			max-width: $desktop;
			width: 100%
		};

		&-box {
			display: block;
  			float: left;
			width: 43%;
		};

		&-left-30 {
			margin-left: 30px;
		};

  	};

};



/* ----++++---- OBJECT ----++++---- */
/* ----++++---- Object tombstone top ----++++---- */
.object-tombstone-top {

	overflow: hidden;
	width: 100%;
	padding: 0 0 20px 0;

	&-header {
		color: $black;
		display: block;
	    float: left;
		font-size: 16px;
		height: auto;
		line-height: 35px;
		margin: 0;
		text-align: left;
	    width: auto;
	};

	&-sub-title {
		color: $redOrange;
		display: inline-block;
		font-size: 16px;
		line-height: 16px;
		margin: 0;
		position: relative;
		width: auto;
	};

	&-block {
		background-color: $greyTwo;
		display: inline-block;
		height: auto;
		margin: 0 0 15px 0;
		padding: 0 0 0 10px;
		width: 100%;
	};

};


/* ----++++---- Object tombstone Header ----++++---- */
.object-tombstone-header {

	overflow: hidden;
	width: 100%;
	padding: 0 0 20px 0;

	p {
		line-height: 8px;
	}

	&-title {
		color: $black;
		display: block;
	    float: left;
		font-size: 37px;
		height: auto;
		margin: 0;
		padding: 0 0 30px 0;
		text-align: left;
		font-weight: 900;
	    width: 78%;
	};

	&-sub-header {
		color: $black;
		display: block;
	    float: left;
		font-size: 16px;
		height: auto;
		margin: 0;
		text-align: left;
	    width: 50%;
	};

	&-sub-title {
		color: $redOrange;
		display: inline-block;
		font-size: 16px;
		margin: 0;
		position: relative;
		width: auto;
	};

	&-block {
		background-color: $white;
		display: inline-block;
		height: auto;
		margin: 0 0 15px 0;
		padding: 0 0 0 10px;
		width: 100%;
	};

	&-tag {
		background-color: $black;
		border-radius: 5px;
		color: $white;
		display: inline-block;
		font-size: 12px;
	    font-weight: 200;
	    height: 16px;
	    margin: 0 0 0 24px; 
	    padding: 2px 10px 0 10px;
	    text-align: center;
	    text-transform: uppercase;
	    width: 42px;
	};

	&-grey {
		color: $grey;
	};

	@media (min-width: $tablet) {
		&-title {
			width: 100%;
		};

		&-right {
			display: inline-block;
			float: right;
			position: relative;
		    top: -64px;
		    width: 28%;
		};
	};

  	@media (min-width: $desktop) {

  		max-width: $desktop;

  		&-title {
			width: 100%;
		};

		&-right {
			display: inline-block;
			float: right;
			position: relative;
		    top: -64px;
		    width: 22%;
		};
  		

  	};

};



/* ----++++---- Object - Carousel Component ----++++---- */
.object-carousel-component {

	overflow: hidden;

	&-header {
		color: $redOrange;
		display: block;
	    float: left;
		font-size: 11px;
		height: 20px;
		line-height: 17px;
		margin: 5px 0 0 10px;
		text-align: left;
		text-transform: uppercase;
	    width: 170px;
	};

	&-sub-title {
		color: $grey;
		display: inline-block;
		font-size: 30px;
		line-height: 23px;
		padding: 0 0 20px 0;
		position: relative;
		width: 220px;
	};

	&-text {
		color: #373a3c;
		display: inline-block;
		font-size: 13px;
		height: auto;
		line-height: 17px;
		position: relative;
		width: 100%;		
	};

	&-top {
		display: inline-block;
		height: auto;
		margin: 0;
		padding: 0;
		width: 100%;
	};

	&-block {
		background-size: cover;
		display: inline-block;
		height: 350px;
		margin: 0 0 30px 0;
		padding: 0;
		width: 100%;
	};

	&-list {
		display: block;
		float: left;
		height: auto;
		margin: 0 auto;
		overflow: hidden;
		padding: 0;
		width: 78%;
	};

	&-list ul {
		left: 0;
		list-style: none;
		margin: 0;
		padding: 0;	
		position:relative;
		top: 0;
		width: 9999px;
	}

	&-list li {
		cursor: pointer;
		display: block;
		float:left;
		height: 55px;
	    margin: 0 3px 0 0;
	    width: 58px;

		vertical-align: top;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	};

	&-list li:hover {
		opacity: .7;
	};

	&-arrow-container {
		background-color: $white;
		display: block;
		float: left;
		height: 60px;
		padding-bottom: 20px;
		width: 11%;
	};

	&-arrow-block {
		display: inline-block;
		height: 24px;
		margin: 20px 0 0 0;
		width: 60%;
	};

	&-arrow-left {
		background: url('../pma/img/temp/arrowLeft.png') no-repeat;
		background-size: cover;
		cursor: pointer;
		display: inline-block;
		height: 24px;
		margin: 0 0 0 68%;
		width: 8px;
	};

	&-arrow-right {
		background: url('../pma/img/temp/arrowRight.png') no-repeat;
		background-size: cover;
		cursor: pointer;
		display: block;
    	float: right;	
		height: 24px;
		/*margin: 0 0 0 28%;*/
		width: 8px;
	};

	&-list-object {
		background: url('../pma/img/temp/related-1.jpg') no-repeat;
		background-size: cover;
	};

	&-list-deity {
		background: url('../pma/img/temp/cars-1.jpg') no-repeat;
		background-size: cover;
	};

	&-list-article {
		background: url('../pma/img/temp/related-3.jpg') no-repeat;
		background-size: cover;
	};

	&-hide {
		display: none;
	};

	&-object-image {
		cursor: pointer;
	};

	&-bttns-block {
		border-bottom: 1px solid $grey;
		display: inline-block;
		height: 50px;
		margin: 0 0 30px 0;
		padding: 10px 0 0 0;
		width: 100%;

		ul {
			display: inline-block;
			list-style: none;
			margin: 10px;		
		};

		li {
			margin: 0 0 0 10px;
			padding-left: 0;
		};
	};

	&-bttns-block-inner {
		height: auto;
		margin: 0 auto;
		padding: 0;
		width: 50%;
	};

	&-bttns-one {
		background: url('../pma/img/temp/anchor-image.png') no-repeat;
		background-size: cover;
		display: inline-block;
		height: 22px;
		width: 16px;
	};

	&-bttns-two {
		background: url('../pma/img/temp/download-image.png') no-repeat;
		background-size: cover;
		display: inline-block;
		height: 24px;
		width: 19px;
	};

	&-bttns-three {
		background: url('../pma/img/temp/email-image.png') no-repeat;
		background-size: cover;
		display: inline-block;
		height: 17px;
		width: 21px;
	};

	@media (min-width: $tablet) {

		&-block {
			height: 550px;
		};

		&-list {
			width: 308px;//50.5%;
		};

		&-arrow-container {
			width: 28%;
		};

		&-arrow-block {
			width: 14%;
		};

		&-arrow-left {
			position: relative;
	    	left: 152px;
	    };

	    &-bttns-block-inner {
	    	width: 30%;
	    };

	};

  	@media (min-width: $desktop) {

  		&-top {
  			display: block;
  			float: left;
			max-width: $desktop;
			width: 100%
		};

		&-block {
			height: 760px;
		};

		&-list {
			width: 308px;//50.5%;
		};

		&-arrow-container {
			width: 32%;
		};

		&-arrow-block {
			width: 14%;
		};

		&-arrow-left {
			position: relative;
	    	left: 205px;
	    };

	     &-bttns-block {
	    	height: 0;
	    };

	    &-bttns-block-inner {
	    	bottom: -172px;
	   		left: 712px;
	   		position: absolute;
	   		width: auto;
	    };

  	};

};


/*IMAGE CAPTION STYLE*/
.absolute {
	bottom: -50px !important;
};

figure {
	margin: 0 0 0 -17px;
    width: 300px;
    height: 200px;
    overflow: hidden;
    position: relative;
};

figcaption {
	display: block;
	position: absolute;	
	width: 100%;
	height: 150px;
	left: 0;
	bottom: -150px;
	text-align: left;
	color: #fff;
	background-color: rgba(255,255,255,.5);
	line-height: 0px;
	transition: bottom .5s;
};

figure:hover figcaption {
	bottom: -50px;
};
/*IMAGE CAPTION STYLE END*/


@media (min-width: $tablet) {
	figure {
		width: 300px;
	};
};

@media (min-width: $desktop) {
	
};


/*LOAD MORE BUTTON*/
.load-more-container {
	background-color: $white;
	border-bottom: 1px solid $grey;
	cursor: pointer;
	display: block;
	float: left;
	height: 100px;
	padding-bottom: 20px;
	width: 100%;
};

.load-more-bttn {
	background-color: $lightGrey;
	border-radius: 5px;
	height: 60px;
	margin: 30px auto;
	width: 145px;
};

.load-more-bttn:hover {
	background-color: #dbdbdb;
};

.load-more-bttn-text {
	color: $grey;
	font-size: 12px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
};